<mat-toolbar color="with">
  <a href="/suscriptores"><img src="../../../assets/images/logo.png" class="logo" alt=""></a>
  <span class="example-spacer"></span>
  <button mat-button [routerLink]="['/suscriptores']">
    <mat-icon aria-hidden="false" aria-label="home" fontIcon="home"></mat-icon>
  </button>
  <button [routerLink]="['/suscriptores/registro']" mat-raised-button color="primary">Registro</button>
  <button routerLink="/logout" mat-button>
    <mat-icon aria-hidden="false" aria-label="logout" fontIcon="logout"></mat-icon>
  </button>
</mat-toolbar>
