<mat-toolbar>
  <span>Registrar Suscriptores</span>
</mat-toolbar>
<div class="container">
  <mat-card style="margin-top: 10px;">
    <form [formGroup]="form" (ngSubmit)="addSubscribe()">
      <div class="row">

        <div class="col-6">
          <mat-form-field appearance="fill">
            <mat-label>Nombre</mat-label>
            <input type="text" matInput autocomplete="off" formControlName="name">
          </mat-form-field>
        </div>

        <div class="col-6">
          <mat-form-field appearance="fill">
            <mat-label>Correo</mat-label>
            <input type="email" matInput formControlName="email">
          </mat-form-field>
        </div>
      </div>
      <div class="row">

        <div class="col-6">
          <mat-form-field appearance="fill">
            <mat-label>Pais</mat-label>
            <mat-select formControlName="countrie">
              <mat-option *ngFor="let countri of countries" [value]="countri">
                {{countri.Name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="col-6">
          <mat-form-field appearance="fill">
            <mat-label>Teléfono</mat-label>
            <input type="number" matInput formControlName="phone">
          </mat-form-field>
        </div>
      </div>
      <div class="row">

        <div class="col-6">
          <mat-form-field appearance="fill">
            <mat-label>Título Profecional</mat-label>
            <input type="text" matInput formControlName="jobtitle">
          </mat-form-field>
        </div>

        <div class="col-6">
          <mat-form-field appearance="fill">
            <mat-label>Area</mat-label>
            <input type="text" matInput formControlName="area">
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-6" style="text-align: right;">
          <button type="submit" mat-raised-button [disabled]="!form.valid" color="primary">Guardar</button>
        </div>
        <div class="col-6">
          <button routerLink="/suscriptores" mat-raised-button>Cancelar</button>
        </div>
      </div>
    </form>
  </mat-card>
</div>
